@font-face {
    font-family: myPixel;
    src: url(/fonts/Tiny5/Tiny5-Regular.ttf);
}

* {
    font-family: myPixel;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    display: flex;
    justify-content: center;
}

canvas {
    background-color: black;
    width: 1024px;
    height: 768px;
    cursor: url('/img/cursor/cursor.png'), auto;
}

